# Core Django & DRF dependencies
django
djangorestframework

# PostgreSQL adapter (for Supabase or Railway DB)
psycopg2-binary

# Deployment & WSGI server
gunicorn

# CORS for API access
django-cors-headers

# Optional: Environment variable management
python-dotenv

# Google authentication
django-allauth
dj_rest_auth
jwt

# Cookies
js-cookie